<a href="https://colab.research.google.com/github/avnish100/Diamonds-Price-Prediction/blob/master/Diamonds_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns
sns.set(style='whitegrid')

import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV

In [7]:
diamond_data = pd.read_csv("/diamonds.csv")

In [8]:
diamond_data.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326.0,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326.0,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327.0,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334.0,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335.0,4.34,4.35,2.75

In [9]:
diamond_data = diamond_data.drop(["Unnamed: 0"],axis=1)
diamond_data.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0  326.0  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0  326.0  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0  327.0  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0  334.0  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0  335.0  4.34  4.35  2.75

In [10]:
print("Number of rows with x == 0: {} ".format((diamond_data.x==0).sum()))
print("Number of rows with y == 0: {} ".format((diamond_data.y==0).sum()))
print("Number of rows with z == 0: {} ".format((diamond_data.z==0).sum()))
print("Number of rows with depth == 0: {} ".format((diamond_data.depth==0).sum()))

Number of rows with x == 0: 6
Number of rows with y == 0: 5
Number of rows with z == 0: 17
Number of rows with depth == 0: 0

In [11]:
diamond_data[['x','y','z']] = diamond_data[['x','y','z']].replace(0,np.NaN)
diamond_data.isnull().sum()

carat       0
cut         0
color       0
clarity     0
depth       0
table       0
price       1
x           7
y           6
z          18
dtype: int64

In [12]:
diamond_data.dropna(inplace=True)
diamond_data.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [13]:
diamond_data['volume'] = diamond_data['x']*diamond_data['y']*diamond_data['z']
diamond_data.drop(['x', 'y', 'z'], axis=1, inplace=True)
diamond_data.head()

   carat      cut color clarity  depth  table  price     volume
0   0.23    Ideal     E     SI2   61.5   55.0  326.0  38.202030
1   0.21  Premium     E     SI1   59.8   61.0  326.0  34.505856
2   0.23     Good     E     VS1   56.9   65.0  327.0  38.076885
3   0.29  Premium     I     VS2   62.4   58.0  334.0  46.724580
4   0.31     Good     J     SI2   63.3   58.0  335.0  51.917250

In [14]:
from sklearn import preprocessing 
label_encoder = preprocessing.LabelEncoder() 

diamond_data['cut'] = label_encoder.fit_transform(diamond_data['cut'])
diamond_data['color'] = label_encoder.fit_transform(diamond_data['color'])
diamond_data['clarity'] = label_encoder.fit_transform(diamond_data['clarity'])
diamond_data.head()

   carat  cut  color  clarity  depth  table  price     volume
0   0.23    2      1        3   61.5   55.0  326.0  38.202030
1   0.21    3      1        2   59.8   61.0  326.0  34.505856
2   0.23    1      1        4   56.9   65.0  327.0  38.076885
3   0.29    3      5        5   62.4   58.0  334.0  46.724580
4   0.31    1      6        3   63.3   58.0  335.0  51.917250

In [15]:
X = diamond_data.drop(['price'],1)
y = diamond_data['price']

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=142)

#Linear Regression

In [17]:
regr = LinearRegression()
model = regr.fit(X_train, y_train)
y_pred = model.predict(X_test)

print("RMSE: {}".format(np.sqrt(mean_squared_error((y_test),(y_pred)))))
print("R2  : {}".format(np.sqrt(r2_score((y_test),(y_pred)))))

RMSE: 1578.1234004317794
R2  : 0.9327381029219903

In [19]:
output = pd.Series(y_pred)
output

0          419.341299
1        14731.828894
2        -1485.868765
3         6206.130986
4         1469.573713
             ...
10637     6284.515376
10638    14828.455413
10639      755.799656
10640     9495.473468
10641     5276.011095
Length: 10642, dtype: float64